

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 128px;
}

#logo {
    margin: 0;
    padding: 0;
    float: left;
}

#title {
    margin: 0;
    padding: 0;
    padding-left: 160px;
    padding-top: 40px;
}

#subtitle {
    margin: 0;
    padding: 0;
    padding-left: 160px;
}

#end_header {
    margin: 0;
    padding: 0;
    clear: both;
    padding-bottom: 20px;
}
